@-moz-document domain("forums.gta5-mods.com") {
body {
	background-color: #1e1d1d;
	color: #c1c1c1;
}
h1,
a.permalink,
.category-children > a > small,
.breadcrumb > li > a,
.categories > li .content h2 > a,
.category > ul > li .content h2 > a,
.account .profile .profile-meta {
	color: #c1c1c1 !important;
}
hr {
	border-color: #333;
	background-color: #333;
}
textarea {
	background-color: #2c2c2c;
	color: #fff;
}
a.topic-title {
	color: #b4b4b4 !important;
}
.post-header a.btn {
	background-color: #20ba4e;
	color: #292929;
}
.pagination-container > ul > li.page.active > a {
	background-color: #20ba4e !important;
}
.pagination-container > ul > li > a:focus,
.pagination-container > ul > li > a:hover {
	background-color: #fff !important;
}
.category > ul > li:not(.unread) h2 a {
	color: #20ba4e;
}
.category > ul > li:not(.unread) h2 a:focus,
.category > ul > li:not(.unread) h2 a:hover {
	color: #157933;
}
.icon > a > img,
.avatar > a > img,
img.avatar,
img.user-img,
.chat-user-image {
	background-color: #fff;
}
.taskbar-chat > a:not(.user-icon) {
	background-color: #fff !important;
}
.panel,
.well,
.flatpickr-input,
.list-group > li,
.pagination-container > ul > li > a {
	background-color: #292929 !important;
}
.form-control,
.form-control > option {
	background-color: #292929;
	color: #fff;
}
.modal-dialog,
.modal-content {
	background-color: #333 !important;
	color: #fff;
}
.modal-dialog button,
.composer-container .title {
	color: #fff;
}
.modal-footer > .btn-default {
	color: #333;
}
button.flag-reason {
	color: #333;
}
.panel-footer,
.composer,
.composer-container .title,
.table-striped > tbody > tr:nth-of-type(2n+1) {
	background-color: #333;
}
.mobile-navbar > .title {
	background-color: #20ba4e;
}
.mobile-navbar .btn-primary {
	border-color: #20ba4e;
}
.dropdown-menu,
.notifications > .notifications-list > li {
	background-color: #292929;
}
.dropdown-menu > li > a:not(.alert-warning),
.notif-dropdown-link > a,
.formatting-group li {
	color: #fff !important;
}
.dropdown-menu > li > a:active,
.dropdown-menu > li > a:hover,
.notif-dropdown-link > a:active,
.notif-dropdown-link > a:hover,
.chat-list > li:active,
.chat-list > li:hover,
.formatting-group li:hover,
.formatting-group li:focus {
	color: #333 !important;
}
.dropdown-menu .alert-warning {
	background-color: #d9d100 !important;
}
.dropdown-menu .alert-warning:active,
.dropdown-menu .alert-warning:hover {
	background-color: #b0aa00 !important;
}
.toggleSolved {
	background-color: #5bac3c;
}
.alert-window > .alert {
	background-color: #333 !important;
	color: #eee;
}
.notification-list > .unread {
	background-color: #444 !important;
}
.chat-content > li {
	border-top: 1px solid #373737 !important;
}
.chat-list {
	color: #fff !important;
}
.chat-list > li {
	border-bottom: 1px solid #373737 !important;
}
.chat-list > li.unread {
	background-color: #555 !important;
}
.category .category-item.highlight,
.topic .topic-item.highlight {
	background-color: #4f94a8
}
.bootstrap-tagsinput,
.bootstrap-tagsinput input {
	background-color: #292929;
	color: #fff;
}
.account .profile .profile-meta strong {
	color: #595959;
}
.account .row button {
	background-color: #333;
	color: #fff;
}
.account .row button:active,
.account .row button:hover {
	background-color: #eee;
	color: #333;
}
.account-picture-block > ul > a,
.search .panel-heading,
.account .panel-heading {
	background-color: #333;
	color: #eee;
}
@media only screen and (max-width: 767px) {
	.categories > li,
	.category > ul > li {
		border-top: 1px solid #444;
	}
}
}
